In [1]:
from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
dry_bean = fetch_ucirepo(id=602) 
  
# data (as pandas dataframes) 
X = dry_bean.data.features 
y = dry_bean.data.targets

In [2]:
print(X.shape)

(13611, 16)

In [3]:
print(y.shape)

(13611, 1)

In [4]:
y.describe()

           Class
count      13611
unique         7
top     DERMASON
freq        3546

In [5]:
y.value_counts()

Class
DERMASON    3546
SIRA        2636
SEKER       2027
HOROZ       1928
CALI        1630
BARBUNYA    1322
BOMBAY       522
Name: count, dtype: int64

In [6]:
X.to_csv('Data.csv')
y.to_csv('Labels.csv')